sqlalchemy==2.0.36
pymysql==1.1.1
cryptography==43.0.3
alpha-vantage==3.0.0
yfinance==0.2.48
pandas==2.2.3
pandas-ta==0.3.14b
numpy==1.26.4
apscheduler==3.10.4
streamlit==1.40.2
plotly==5.24.1
pyyaml==6.0.2
requests==2.32.3
pytz==2024.2
